<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bookmark.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  </head>
  <body>
  
   <div class="container-fluid">
     <div class="row">
       <%# 穴埋め箇所1 たくさんのデータの中から一つずつ取り出してループするコード  %>
       <% @bookmarks.each do |bookmark| %>
       <div class="col-md-3">
         <img src="http://lit-screenshot-api.herokuapp.com/?url=<%= bookmark.url %>" alt="">
         <p><a href="<%= bookmark.url %>"><%= bookmark.title %></a></p>
       </div>
       <% end %>
     </div>
   </div>
   
    <form action="/create" method="post" id="frm" class="pull-left">
    </form>
  
  </body>
</html>
